<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Цветочный салон</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        
        <header class="header_main">
            <div class="nav_row">
                <div class="logo r1 c1">FLOWER</div>
                <nav class="nav_main r1 c3">
                    <a href="index.html">Главная</a>
                    <a href="catalog.html">Каталог</a>
                    <a href="catalog.html">О нас</a>
                   
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                         <a href="delivery.html">Заказы</a> 
                         <a href="login.html"><img src="{{ asset('images/shopping-cart (1).png') }}" ></a>
                         <a href="{{path('logout')}}"><img src="{{ asset('images/enter.png') }}" ></a>
                    {% else %}
                        <a href="catalog.html">Контакты</a>
                        <a href="{{path('app_login')}}"><img src="{{ asset('images/enter.png') }}" ></a>
                    {% endif %}

                </nav>
            </div>
            <div class="header_info">
                <div class="r2 c1 hi_1">СОЗДАЕМ ЛЮБОВЬ <br> ЧЕРЕЗ ЦВЕТЫ</div>
                <div class="r4 c1 hi_2">мы выращиваем наши цветы с любовью и заботой <br> специально для вас, <br> чтобы вы всегда могли любоваться <br> свежим и красивым букетом от Flower</div>
                <div class="r5 c1 hi_3"><div>ПЕРЕЙТИ В КАТАЛОГ</div></div>
            </div>
        </header>
    <main>
        <section class="cat_main">
            <div class="r1 c2 ct_1"><div>НАШИ ЦВЕТЫ</div></div>
            <div class="r1 c4 ct_2"><div>посмотреть все</div></div>
            <div class="r2 c2 ct_3">
                <div>
                    <div class="ct_img"></div>
                    <div>Букет белых гипсофилов</div>
                    <div>3200 р.</div>
                </div>
            </div>
        </section>
        <section>
            
        </section>
    </main>

    </body>
</html>
 