{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}
<main class="all_main">


<div class="big_void"></div>
<div class="center_headline"><div>АВТОРИЗАЦИЯ</div></div>
<div class="big_void"></div>

    <form action="{{ path('login_db') }}" method="post">
        {# Токен защиты CSRF #}
        {{ form_row(form._token) }}

        {# Поле email (логина) #}
        <label for="login">Электронная почта</label>
        {{ form_widget(form.login, {'attr': {'type': 'email'}}) }}
        <div class="error_error">{{ form_errors(form.login) }}
        {% if errors is not empty %}
            <ul class="error-messages">
                {% for error in errors %}
                    {% if error == 'Пользователь с таким email не найден' %}
                        <li style="color: red;">{{ error }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        </div>

        {# Поле пароля #}
        <label for="password">Пароль</label>
        {{ form_widget(form.password, {'attr': {'type': 'password'}}) }}
        <div class="error_error">{{ form_errors(form.password) }}
         {% if errors is not empty %}
            <ul class="error-messages">
                {% for error in errors %}
                    {% if error == 'Неверный пароль' %}
                        <li style="color: red;">{{ error }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        </div>

        {# Кнопка отправки #}
        <input type="submit" value="отправить">
        <a class="no_acc" href="{{ path('app_reg') }}">Еще нет аккаунта? Зарегистрируйтесь</a>
    </form>

    
<div id="empty_px"></div>
</main>
{% endblock %}

