{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}
<main class="all_main">


<div class="big_void"></div>
<div class="center_headline"><div>РЕГИСТРАЦИЯ</div></div>
<div class="big_void"></div>


    <form action="{{ path('app_register') }}" method="post">

        {{ form_row(form._token) }}

        <label for="name">Имя</label>
        {{ form_widget(form.name, {'attr': {'type': 'text'}}) }}
        {{ form_errors(form.name) }}

        <label for="login">Электронная почта</label>
        {{ form_widget(form.login, {'attr': {'type': 'email'}}) }}
        <div class="error_error">{{ form_errors(form.login) }}</div>

        <label for="password">Пароль</label>
        {{ form_widget(form.password, {'attr': {'type': 'password'}}) }}
        <div class="error_error">{{ form_errors(form.password) }}</div>

        <input type="submit" value="отправить">
        <a class="no_acc" href="{{ path('app_login') }}">Уже есть аккаунт? Авторизуйтесь</a>
    </form>

    
<div id="empty_px"></div>
</main>
{% endblock %}

